.recipeCardContainer{
    box-shadow: 5px 5px 5px gray;
    width: 25%;
    text-align: center;
    padding-bottom:1% ;
    border-radius: 1%;
}
img{
    height: 70%;
    width: 100%;
    border-radius: 1% 1% 0 0;
}
.recipeCardButton{
    background-color: #578a8b;
}
.RecipeTitle{
    font-size: x-large;
}