Header {
    display: flex;
    font-size: xx-large;
    height: 60px ;
    justify-content: space-between;
    align-items: center;
    background-color: #da7533;
    color: white;
    padding: 10px;
}
nav{
    padding: 10px;
}
.NavButton{
    background-color: #da7533;
    font-size: x-large;
}